ul {
  list-style: none;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.all-event-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  list-style: none;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.sport-card {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 20px;
}
.all-event-container .sport-card {
  pointer-events: none;
  position: relative;
  cursor: not-allowed;
}

.all-event-container .sport-card::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}
.all-event-container .sport-card.enabled {
  pointer-events: all;
  cursor: pointer;
}
.all-event-container .sport-card.enabled::after {
  content: none;
}
